@model IEnumerable<Distance.WEB.Models.ФормаОбученияViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Код_ФормаОбуения)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Форма_Обучения)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Код_ФормаОбуения)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Форма_Обучения)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Код_ФормаОбуения  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Код_ФормаОбуения  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Код_ФормаОбуения })
        </td>
    </tr>
}

</table>
